/* Brand Color's */
:root {
    --black: #000000;
    --white: #ffffff;
    --red: #F4002C;
    --shilety: #939393;
    --gree: #8e919a;
    --brown: #303030;
    --sky-blue: #1A75FF;
    --haf-slety: #CCCEDD;
    --haf-gree: #F6F8FB;
    --parpal: #242E6F;
    --haf-black: #223354;
    --green: #3BB900;
    --sky: #f6f8fb;
    --sky-light: #E8F1FF;
    --light-green: #ECFBE6;



}